<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="querys" />
          <add segment="utils" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- <httpErrors errorMode="Detailed" /> -->
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="00:59:00" />
  </system.web>
</configuration>
