<button type="button" id="btn-crear-carreras" class="btn btn-primary">
    Nuevo
</button>
<table id="table_carreras" class="table nowrap table-sm table-hover table-bordered table-responsive" cellspacing="0"
    width="100%" style="font-size: 1rem; max-height: 550px; overflow-y: auto; display:block;">
    <thead>
        <tr>
            <th scope="col">PLAN_ESTUDIO_ID</th>
            <th scope="col">FACULTAD_ID</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">SEMESTRE</th>
            <th scope="col">PLAN_ESTUDIO_ORIGEN_ID</th>
            <th scope="col">TIPO_CARRERA</th>
            <th scope="col">INSTITUCION_CONVENIO</th>
            <th scope="col">PERIODO_ABCONTA</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
</table>
<script src="public/js/carreras.js"></script>