<button type="button" id="btn-crear-estudiantes" class="btn btn-primary">
    Nuevo
</button>
<table id="table_estudiantes" class="table nowrap table-sm table-hover table-bordered table-responsive" cellspacing="0"
    width="100%" style="font-size: 1rem; max-height: 550px; overflow-y: auto;">
    <thead>
        <tr>
            <th scope="col">ESTUDIANTE_ID</th>
            <th scope="col">NOMBRE_COMPLETO</th>
            <th scope="col">PERIODO_ABCONTA</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
</table>
<script src="public/js/estudiantes.js"></script>