<button type="button" id="btn-crear-ex" class="btn btn-primary">
    Nuevo
</button>
<table id="table_notas_ex" class="table nowrap table-sm table-hover table-bordered table-responsive" cellspacing="0"
    width="100%" style="font-size: 1rem; max-height: 550px; overflow-y: auto; display:block;">
    <thead>
        <tr>
            <th scope="col">ESTUDIANTE_ID</th>
            <th scope="col">PERIODO_ID</th>
            <th scope="col">FACULTAD_ID</th>
            <th scope="col">PLAN_ESTUDIO_ID</th>
            <th scope="col">JORNADA_ID</th>
            <th scope="col">SEMESTRE</th>
            <th scope="col">MATERIA_ID</th>
            <th scope="col">GRUPO</th>
            <th scope="col">NOTA_CORTE_1</th>
            <th scope="col">NOTA_CORTE_2</th>
            <th scope="col">NOTA_CORTE_3</th>
            <th scope="col">NOTA_HABILITACION</th>
            <th scope="col">NOTA_HOMOLOGACION</th>
            <th scope="col">NOTA_VALIDACION</th>
            <th scope="col">NOTA_CURSO_VERANO</th>
            <th scope="col">NOTA_DEFINITIVA</th>
            <th scope="col">EXCEPCION</th>
            <th scope="col">PERIODO_ABCONTA</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
</table>
<script src="public/js/excepciones.js"></script>