<button type="button" id="btn-crear-materias" class="btn btn-primary">
    Nuevo
</button>
<table id="table_materias" class="table nowrap table-sm table-hover table-bordered table-responsive" cellspacing="0"
    width="100%" style="font-size: 1rem; max-height: 550px; overflow-y: auto; display:block;">
    <thead>
        <tr>
            <th scope="col">MATERIA_ID</th>
            <th scope="col">FACULTAD_ID</th>
            <th scope="col">PLAN_ESTUDIO_ID</th>
            <th scope="col">JORNADA_ID</th>
            <th scope="col">SEMESTRE</th>
            <th scope="col">ORDEN</th>
            <th scope="col">MATERIA_DESC</th>
            <th scope="col">MATERIA_PREREQUISITO_ID</th>
            <th scope="col">MATERIA_COREQUISITO_ID</th>
            <th scope="col">MATERIA_EQUIVALENTE_ID</th>
            <th scope="col">HORA_SEMANAL</th>
            <th scope="col">PERIODO_ABCONTA</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
</table>
<script src="public/js/materias.js"></script>