<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-titulo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-fullscreen-md-down">
            <form id="modal-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-titulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-contenido">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" id="modal-accion" class="btn btn-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>