<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="plan_estudio_id" class="form-control" id="car_plan_estudio_id"
                placeholder="n" required>
            <label for="car_plan_estudio_id">Plan_estudio_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="facultad_id" class="form-control" id="car_facultad_id"
                placeholder="n" required>
            <label for="car_facultad_id">Facultad_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="descripcion" class="form-control" id="car_descripcion" placeholder="n" required>
            <label for="car_descripcion">Descripcion</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="semestre" class="form-control" id="car_semestre"
                placeholder="n" required>
            <label for="car_semestre">Semestre</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="plan_estudio_origen_id" class="form-control" id="car_plan_estudio_origen_id"
                placeholder="n">
            <label for="car_plan_estudio_origen_id">Plan_estudio_origen_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="tipo_carrera" class="form-control" id="car_tipo_carrera" placeholder="n" required>
            <label for="car_tipo_carrera">Tipo_carrera</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="institucion_convenio" class="form-control" id="car_institucion_convenio" placeholder="n">
            <label for="car_institucion_convenio">Institucion_convenio</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="periodo_abconta" class="form-control" id="car_periodo_abconta"
                placeholder="n" required>
            <label for="car_periodo_abconta">Periodo_abconta</label>
        </div>
    </div>
</div>