<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="estudiante_id" class="form-control" id="est_estudiante_id"
                placeholder="n" required>
            <label for="est_estudiante_id">Estudiante_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="periodo_abconta" class="form-control" id="est_periodo_abconta"
                placeholder="n" required>
            <label for="est_periodo_abconta">Periodo_abconta</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="nombre_completo" class="form-control" id="est_nombre_completo" placeholder="n" required>
            <label for="est_nombre_completo">Nombre_completo</label>
        </div>
    </div>
</div>