<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="historico_notas_id" class="form-control"
                id="exc_historico_notas_id" placeholder="n" required>
            <label for="exc_historico_notas_id">Historico_notas_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="estudiante_id" class="form-control" id="exc_estudiante_id"
                placeholder="n" required>
            <label for="exc_estudiante_id">Estudiante_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="periodo_id" class="form-control" id="exc_periodo_id"
                placeholder="n" required>
            <label for="exc_periodo_id">Periodo_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="facultad_id" class="form-control" id="exc_facultad_id"
                placeholder="n" required>
            <label for="exc_facultad_id">Facultad_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="plan_estudio_id" class="form-control" id="exc_plan_estudio_id"
                placeholder="n" required>
            <label for="exc_plan_estudio_id">Plan_estudio_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="jornada_id" class="form-control" id="exc_jornada_id" placeholder="n" required>
            <label for="exc_jornada_id">Jornada_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="semestre" class="form-control" id="exc_semestre" placeholder="n"
                required>
            <label for="exc_semestre">Semestre</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="materia_id" class="form-control" id="exc_materia_id" placeholder="n" required>
            <label for="exc_materia_id">Materia_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="grupo" class="form-control" id="exc_grupo" placeholder="n" required>
            <label for="exc_grupo">Grupo</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_corte_1" class="form-control" id="exc_nota_corte_1"
                placeholder="n" required>
            <label for="exc_nota_corte_1">Nota_corte_1</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_corte_2" class="form-control" id="exc_nota_corte_2"
                placeholder="n" required>
            <label for="exc_nota_corte_2">Nota_corte_2</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_corte_3" class="form-control" id="exc_nota_corte_3"
                placeholder="n" required>
            <label for="exc_nota_corte_3">Nota_corte_3</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_habilitacion" class="form-control"
                id="exc_nota_habilitacion" placeholder="n" required>
            <label for="exc_nota_habilitacion">Nota_habilitacion</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_homologacion" class="form-control"
                id="exc_nota_homologacion" placeholder="n" required>
            <label for="exc_nota_homologacion">Nota_homologacion</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_validacion" class="form-control" id="exc_nota_validacion"
                placeholder="n" required>
            <label for="exc_nota_validacion">Nota_validacion</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_curso_verano" class="form-control"
                id="exc_nota_curso_verano" placeholder="n" required>
            <label for="exc_nota_curso_verano">Nota_curso_verano</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="nota_definitiva" class="form-control" id="exc_nota_definitiva"
                placeholder="n" required>
            <label for="exc_nota_definitiva">Nota_definitiva</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="excepcion" class="form-control" id="exc_excepcion" placeholder="n">
            <label for="exc_exepcion">Exepcion</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="periodo_abconta" class="form-control" id="exc_periodo_abconta"
                placeholder="n" required>
            <label for="exc_periodo_abconta">Periodo_abconta</label>
        </div>
    </div>
</div>