<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="materia_id" class="form-control" id="mat_materia_id" placeholder="n" required>
            <label for="mat_materia_id">Materia_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="facultad_id" class="form-control" id="mat_facultad_id" placeholder="n" required>
            <label for="mat_facultad_id">Facultad_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="plan_estudio_id" class="form-control" id="mat_plan_estudio_id"
                placeholder="n" required>
            <label for="mat_plan_estudio_id">Plan_estudio_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="jornada_id" class="form-control" id="mat_jornada_id" placeholder="n" required>
            <label for="mat_jornada_id">Jornada_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="semestre" class="form-control" id="mat_semestre" placeholder="n"
                required>
            <label for="mat_semestre">Semestre</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="orden" class="form-control" id="mat_orden" placeholder="n">
            <label for="mat_orden">Orden</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="materia_desc" class="form-control" id="mat_materia_desc" placeholder="n" required>
            <label for="mat_materia_desc">Materia_desc</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="materia_prerequisito_id" class="form-control" id="mat_materia_prerequisito_id"
                placeholder="n">
            <label for="mat_materia_prerequisito_id">Materia_prerequisito_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="materia_corequisito_id" class="form-control" id="mat_materia_corequisito_id"
                placeholder="n">
            <label for="mat_materia_corequisito_id">Materia_corequisito_id</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" name="materia_equivalente_id" class="form-control" id="mat_materia_equivalente_id"
                placeholder="n">
            <label for="mat_materia_equivalente_id">Materia_equivalente_id</label>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="hora_semanal" class="form-control" id="mat_hora_semanal"
                placeholder="n" required>
            <label for="mat_hora_semanal">Hora_semanal</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="number" pattern="[0-9]" name="periodo_abconta" class="form-control" id="mat_periodo_abconta"
                placeholder="n" required>
            <label for="mat_periodo_abconta">Periodo_abconta</label>
        </div>
    </div>
</div>